<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="" class="navbar-brand"><span class="brand-title">Settings Store Manager</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="" target="_blank">
                        Powered by XA
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img src="Content/images/logo.png" />
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>